<h1>GENRES</h1>
<p> <%= @all_genres %> </p>


  <li>
    <a href="all/funk">FUNK</a>
  </li>

  <li>
    <a href="all/jazz">JAZZ</a>
  </li>

  <li>
    <a href="all/reggae">REGGAE</a>
  </li>

  <li>
    <a href="all/afrobeat">AFROBEAT</a>
  </li>
