<h1> <%= @genre_title %> </h1>

<p>Info about <%= @genre_name %> </p>

<!--


<img src="https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1439,w_2560,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1492195769/articles/2014/09/14/what-if-jazz-giant-john-coltrane-had-lived/140912-Gioia-coltrane-tease_lqsfal" alt="Coltrane">


<img src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/20933773_1432280746855076_7666815649040383981_o.jpg?_nc_cat=0&oh=2e3a6ace585213e6ed2093a2f67def2d&oe=5B50E4AA" alt="TMJSSO"> -->
