<h1>Add a new genre!</h1>

  <form  action="/all" method="post">
    <div class="form-group">
      <input type="text" name="" value="" placeholder="Genre name">
    </div> <!--end of div formgroup -->

    <div class="form-group">
      <textarea name="" rows="8" cols="80" placeholder="Listening notes" id ="listening"> </textarea>
    </div> <!--end of div formgroup -->

      <input type="submit" value="Submit" class="btn btn-default">
  </form>
