<h1>Add a new artist you've heard about</h1>

<form  action="/artists" method="post">
  <div class="form-group">
    <input type="text" name="" value="" placeholder="Artist name">
  </div> <!--end of div formgroup -->

  <div class="form-group">
    <textarea name="" rows="8" cols="80" placeholder="Listening notes" id ="listening"> </textarea>
  </div> <!--end of div formgroup -->

    <input type="submit" value="Add" class="btn btn-default">
</form>
